.navbar {
    background-color: #92BD28;
}

.quem-somos {
    background-color: #C0C0C0;
    color: white;
}

.margin {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #836FFF;
}

.bg-footer {
    background-color: black;
    color: white;
}